//  About The Gym 


.gym{
    max-width: 1500px;
    padding-left: 8rem;
    margin: 8.5rem 0;
}


.gym_content{
    display: flex;
    justify-content: space-between;
    p{
        font-size: 1.06rem;
        font-weight: 400;
        color: white;

        margin-top: 4px;
        margin-bottom: 2rem;  
    }
}



.gym_title{
    font-size: 2rem;
    font-weight: 700;
    color: white;
}

.slideshow-container {
    box-sizing:border-box;
    max-width: 560px;
    position: relative;
    margin: auto;
}
  
